<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="https://conteudo.imguol.com.br/c/home/47/2021/12/06/general-heleno-autorizou-em-2021-sete-projetos-de-pesquisa-de-ouro-na-regiao-de-sao-gabriel-da-cachoeira-am-1638775941520_300x225.jpg.webp" alt="" />
  <h1>vinicius salles de lima</h1>
  <p>Estudante da etec cidade do livro</p>
  <a href="mailto:vinicius.lima248@etec.sp.gov.br">vinicius salles de lima</a>

</ion-content>